{% extends "microblog/base.html" %}


{% block title %}
    {% if title %}
        <title>Raptworks!-{{ title }}</title>
    {% else %}
        <title>Raptworks</title>
    {% endif %}
{% endblock title %}

{% block post %}
<div class="article-metadata p-1 mb-4">
    <h2 class="pb-0 mb-0">Welcome to Raptworks</h2>
    <h6 class="pb-0 mb-0">Let's Rapt it!</h6>
    <small class="text-muted">This is for the personal use of 48 & 65 Callodine :)</small>
</div>
    {% for each_post in post%}
    <article class="media content-section border border-info">
      <img src="{{each_post.username.profile.propic.url}}" alt="" class="rounded-circle img-thumbnail article-img">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'individual_user' each_post.username %}">{{each_post.author }}</a>
            <br>
            <small class="text-muted">@{{each_post.username }}</small>
            <small class="text-muted" style="float: right;">{{ each_post.date_posted | date:"M d, Y" }}</small>
          </div>
          <h5><a class="article-title" style="color:teal;" href="{% url 'individual_post' each_post.id %}">{{ each_post.title }}</a></h5>
          <p class="article-content">{{ each_post.content }}</p>
        </div>
      </article>
    {% endfor %}
    <!-- {% for each_post in post%}
    <div class="card border-info p-2 m-3">
  <article class="media p-1 m-1" style="width: 97%;">
      <img src="{{each_post.username.profile.propic.url}}" alt="" class="rounded-circle img-thumbnail article-img">
        <div class="media-body">
          <div class="article-metadata">  
            <a class="card-title mr-2" style="color: teal;" href="{% url 'individual_user' each_post.username %}"><h6 style="display:inline;">{{ each_post.author }}</h6></a>
            <small class="text-muted" style="float: right;">{{ each_post.date_posted | date:"M d, Y" }}</small>
            <br>
            <small class="card-subtitle text-muted">@{{each_post.username }}</small>
          </div>
          <h5><a class="card-title article-title" style="color: teal;" href="{% url 'individual_post' each_post.id %}">{{ each_post.title }}</a></h5>
          <h6 class="card-text text-muted article-content">{{ each_post.content }}</h6>
        </div>
      </article>
    </div>
    {% endfor %} -->

    {% if is_paginated %}
    <div style="float: right;">
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
    {% endif %}
{% endblock post %}

{% block sidebar %}
<div class="card border-info mt-1 mb-2" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title" style="color: teal;">Tip</h5>
    <h6 class="card-subtitle mb-2 text-muted">• Click the author name to get all the posts posted by the author</h6>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">• Click the title to get a detailed view of the post (to update and delete post)</h6>
</div>
</div>
<div class="card border-info mt-1 mb-2" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title" style="color: teal;">Mood Today?</h5>
    <h6 class="card-subtitle mb-2 text-muted">Mention the below emojis to express your mood in the post</h6>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em1" onclick="CopyToClipboard('em1');return false;" data-original-title="Happy">😄</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em2" onclick="CopyToClipboard('em2');return false;" data-original-title="Laugh out loud">😂</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em3" onclick="CopyToClipboard('em3');return false;" data-original-title="Love">😍</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em4" onclick="CopyToClipboard('em4');return false;" data-original-title="Satisfied">😌</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em5" onclick="CopyToClipboard('em5');return false;" data-original-title="Sad">🤧</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em6" onclick="CopyToClipboard('em6');return false;" data-original-title="Exhausted">😵</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em7" onclick="CopyToClipboard('em7');return false;" data-original-title="Angry">😡</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em8" onclick="CopyToClipboard('em8');return false;" data-original-title="Fingers Crossed">🤞</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em9" onclick="CopyToClipboard('em9');return false;" data-original-title="Super">👌</a>
    <a class="eday" style="font-size: 230%;" data-toggle="tooltip" data-placement="bottom" id="em10" onclick="CopyToClipboard('em10');return false;" data-original-title="Claps">👏</a>
  </div>
  <small class="card-footer text-muted bg-white text-center"><strong>Click the emoji to copy it to the clipboard</strong></small>
</div>
            <div class="card border-info mt-2 mb-2" style="width: 100%;">
              <img class="card-img-top" src="https://callodine-blog-files.s3.us-east-2.amazonaws.com/callodine.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color: teal;">What's Happening</h5>
                <p class="card-text">Know about the things that are happening in Callodine</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Enaku Puriyala</li>
                <li class="list-group-item">Movie Night</li>
                <li class="list-group-item">Jundi</li>
                <li class="list-group-item">Isai Mazhaiyil Ninaiya Thaiyara?</li>
                <li class="list-group-item">Pizza Night</li>
              </ul>
            </div>

            <div class="mt-2 mb-3">
              <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="isribalaji" data-color="#FF5F5F" data-emoji=""  data-font="Poppins" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
              </div>
{% endblock sidebar %}