{% extends "microblog/base.html" %}


{% block title %}
        <title>Post Details</title>
{% endblock title %}

{% block post %}
<div class="article-metadata p-1 mb-4">
    <h3 class="pb-0 mb-0 ml-1"> Detailed View</h3>
    <small class="text-muted">&nbsp; Get the detailed view of the post here</small>
</div>

      <div class="card border-info p-2 mt-2 mb-3" style="width: 100%;">
        <article class="media p-1 m-1">
            <img src="{{object.username.profile.propic.url}}" alt="" class="rounded-circle img-thumbnail article-img">
              <div class="media-body">
                <div class="article-metadata">  
                  <h3 style="display:inline; color: teal;" class="card-title mr-2">{{ object.author }}</h3>
                  <h6 class="text-muted mt-1 mr-2" style="float: right;">{{ object.date_posted | date:"h:i A" }} • {{ object.date_posted | date:"M d, Y" }}</h6>
                  <br>
                  <h6 class="card-subtitle text-muted mt-2 mb-1">@{{object.username }}</h6>
                </div>
                <h3 class="card-title article-title mt-2" style="color: teal;">{{ object.title }}</h3>
                <h6 class="card-text text-muted article-content">{{ object.content }}</h6>
              </div>
            </article>

                {% if object.username == user %}
                <div class="card-footer">
                <div>
                    <a class="btn btn-danger btn-sm mt-1 mb-1 mr-2" style="float: right;" href="{% url 'post_delete' object.id %}">Delete</a>
                  <a class="btn btn-dark btn-sm mt-1 mb-1 mr-2" style="float: right;" href="{% url 'post_update' object.id %}">Update</a>
                </div>
            </div>
              {% endif %}
          </div>

          <div class="card text-white bg-dark text-left mt-2 mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">What is the tone of your post?</h5>
              {% for each_emotion, value in emotion.items %}
              <a class="btn btn-warning m-3 text-dark"><strong>{{ each_emotion }}: {{value}}%</strong></a>
              {% endfor %}
            </div>
            <div class="card-footer text-muted">
             <strong> Know the emotion of your post through Natural Language Processing! </strong>
            </div>
          </div>

{% endblock post %}
{% block sidebar %}
<div class="card border-info mt-1 mb-2" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title" style="color: teal;">Tip</h5>
      <h6 class="card-subtitle mb-2 text-muted">• You can update the post anytime within 24 hours of posting it</h6>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted">• Once the post is deleted it cannot be recovered</h6>
  </div>
  </div>

  <div class="card border-info content-section mt-0 pt-3">
    <h3>What's Happening</h3>
    <a class = "bday" data-toggle="tooltip"
data-original-title="You're Spectacular!!⚡" style="color: teal;"><strong><u> Note for you </u></strong></a>
    <p class='text-muted'>Know about the things that are happening in Callodine
      <ul class="list-group">
        <!-- <a href="{% url 'miniblog' %}" class="list-group-item list-group-item-action active">Latest Posts</a> -->
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="{% url 'miniblog' %}" class="h6">Latest Posts</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="Age is an issue of mind over matter ⭐">Days until your birthday</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/abhishek_pughazh/" target="_blank" rel="noopener noreferrer">Abhi</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ ABHI_BDAY | date:'d M, Y' }} ♾️">{{ ABHI_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/aishhwarya.radhakrishnan/" target="_blank" rel="noopener noreferrer">Aishu</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ AISHU_BDAY | date:'d M, Y' }} ♾️">{{ AISHU_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/akshayah_kc/" target="_blank" rel="noopener noreferrer">Akshaya</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ AKSHU_BDAY | date:'d M, Y' }} ♾️">{{ AKSHU_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/aravind_balakrishnan/" target="_blank" rel="noopener noreferrer">Aravind</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ ARAVIND_BDAY | date:'d M, Y' }} ♾️">{{ ARAVIND_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/isribalaji/" target="_blank" rel="noopener noreferrer">Baju</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ BAJU_BDAY | date:'d M, Y' }} ♾️">{{ BAJU_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/oviyaa_balamurugan/" target="_blank" rel="noopener noreferrer">Oviya</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ OVIYA_BDAY | date:'d M, Y' }} ♾️">{{ OVIYA_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/piya_papaya/" target="_blank" rel="noopener noreferrer">Priya</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ PRIYA_BDAY | date:'d M, Y' }} ♾️">{{ PRIYA_NOD }} days</span></li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center"><a href="https://www.instagram.com/viswapujitha_suresh/" target="_blank" rel="noopener noreferrer">Viswa</a><span class="badge badge-primary badge-pill bday" data-toggle="tooltip" data-placement="top" data-original-title="{{ VISWA_BDAY | date:'d M, Y' }} ♾️">{{ VISWA_NOD }} days</span></li>
      </ul>
    </p>
    <small class="text-muted">Hover the badge to know the DOB.</small>
  </div>

  <div class="mt-1 mb-3">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="isribalaji" data-color="#FF5F5F" data-emoji=""  data-font="Poppins" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
  </div>

{% endblock sidebar %}

{% block facts %}
{% endblock facts %}
