{% extends "microblog/base.html" %}


{% block title %}
        <title>{{ view.kwargs.first_name}} @{{ view.kwargs.username}}</title>
{% endblock title %}

{% block post %}
<div class="article-metadata p-1 mb-4">
    <h2 class="pb-0 mb-0">{{ view.kwargs.first_name}}</h2>
    <h5>
        {{ view.kwargs.username}}
    </h5>
    <h6>No of Posts: {{ page_obj.paginator.count }} </h6>
    <small class="text-muted">List of of post by {{ view.kwargs.first_name}}</small>
</div>
    {% for each_post in post%}
    <a href="{% url 'individual_post' each_post.id %}" style="display: block;">
    <article class="media content-section">
      <img src="{{each_post.username.profile.propic.url}}" alt="" class="rounded-circle img-thumbnail article-img">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'individual_user' each_post.username %}">{{each_post.author }}</a>
            <small class="text-muted">{{ each_post.date_posted | date:"M d, Y" }}</small>
            <br>
            <small class="text-muted">@{{each_post.username }}</small>
          </div>
          <h5><a class="article-title" style="color:#428bca;" href="{% url 'individual_post' each_post.id %}">{{ each_post.title }}</a></h5>
          <p class="article-content">{{ each_post.content }}</p>
        </div>
      </article>
    </a>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock post %}
{% block sidebar %}
<blockquote class="twitter-tweet" data-lang="en" data-theme="light"><p lang="en" dir="ltr">Remember, Red, hope is a good thing, maybe the best of things, and no good thing ever dies. I will be hoping that this letter finds you, and finds you well. HOPE!<a href="https://twitter.com/hashtag/shawshankredemption?src=hash&amp;ref_src=twsrc%5Etfw">#shawshankredemption</a> <a href="https://twitter.com/hashtag/hope?src=hash&amp;ref_src=twsrc%5Etfw">#hope</a> <a href="https://twitter.com/hashtag/movies?src=hash&amp;ref_src=twsrc%5Etfw">#movies</a> <a href="https://twitter.com/hashtag/movie?src=hash&amp;ref_src=twsrc%5Etfw">#movie</a></p>&mdash; Sri Balaji (@isribalaji) <a href="https://twitter.com/isribalaji/status/1321120386780717061?ref_src=twsrc%5Etfw">October 27, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div class="content-section d-flex justify-content-center pb-0 pt-3">
              <strong><p class='text-muted'>Click the title to get a detailed view of the post</p></strong>
            </div>
              <div class="content-section">
              <h3>What's Happening</h3>
              <p class='text-muted'>Know about all the things happening in Callodine
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Pizza Night</li>
                  <li class="list-group-item list-group-item-light">Jundi</li>
                  <li class="list-group-item list-group-item-light">Enaku Puriyala</li>
                </ul>
              </p>
            </div>
{% endblock sidebar %}