{% extends "microblog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block post %}
<div class="mt-5 pt-2">
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <legend class="border-bottom mb-4"><h2>Create your Callodine account</h2></legend>
      {{form | crispy }}
      <small id="emailHelp" class="form-text text-muted">Baju is delighted to have you here!</small>
      <small id="emailHelp" class="form-text text-muted">Callodine anticipates with pleasure to see your first post :) </small>
    </div>
    <div>
    <button type="submit" class="btn btn-primary btn-outline-primary">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-2 mt-3 mb-5 pb-2">
    <small class="text-muted">
        Already part of our family?
        <a href="{% url 'login' %}">Sign in</a>
    </small>
  </div>
</div>
{% endblock post %}